header {
  text-align: center;
  background-color: #eee;
  margin-bottom: 20px;
  padding: 10px;
}
a {
  margin: 0 10px;
  color: #333;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.active {
  color: rgb(171, 182, 17);
  text-decoration: underline;
}

