<div class="face-snap-card" [ngClass]="{ snapped: titleButton === 'Ooops no snap!'}">
  <h2>{{ faceSnap.title | uppercase }}</h2>
  <a routerLink="/facesnaps">Back</a>
  <p>Mis en ligne : {{ faceSnap.createDate |  date:'full'}}</p>
  <img [src]="faceSnap.urlImage" [alt]="faceSnap.title">
  <p>{{ faceSnap.description }}</p>
  <p *ngIf="faceSnap.location">Actuellement : {{ faceSnap.location }}</p>
  <p>
    <button (click)="onSnap()">{{ titleButton }}</button>
    <span [ngStyle]="{ color: 'rgb(0,' + faceSnap.snaps + ',0)'}">🔥 {{ faceSnap.snaps }}</span>
  </p>
</div>
