<div class="face-snap-card" [ngClass]="{ snapped: titleButton === 'Ooops no snap!'}">
  <h2>{{ faceSnap.title | uppercase }}</h2>
  <p>{{ faceSnap.description }}</p>
  <button (click)="onViewFaceSnap()">View</button>
</div>
